// Colors
$darkCyan: hsl(179, 81%, 29%);
$darkGreyBlue: hsl(215, 19%, 25%);
$paleOrange: hsl(29, 94%, 86%);
$lightCream: hsl(43, 78%, 98%);
$grey: hsl(215, 5%, 54%);

$brightCyan: hsl(179, 55%, 61%); // main button hover
$lightGrey: hsl(25, 11%, 87%); // main button disabled
$creamGrey: hsl(43, 30%, 94%); // Big Selection Option Default

// Breakpoints
$breakpoint-up-1: 37.5em; // 600px
$breakpoint-up-2: 64em; // 1024px

// Page Margins
$margin-mobile: 6.4%; // 24px for 375px
$margin-mobile-2: 12.8%; // 48px for 375px

$margin-tablet: 5.2%; // 40px for 768px
$margin-tablet-2: 12.76%; // 98px for 768px

$margin-desktop: 5.56%; // 80px for 1440px
$margin-desktop-2: 11.46%; // 165px for 1440px